<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb16"><%= @video[:name] %></h4>
        <div class="embed-video-container embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/<%= @video[:url].split('/').last %>?badge=0&title=0&byline=0&title=0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <!--end of embed video container-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
