<section id="about">
  <div class="container">
    <div class="row mb64 mb-xs-24">
      <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
        <h3>Get all this and more by purchasing
          <br /> a copy of Foundry today.
        </h3>
      </div>
    </div>
    <!--end of row-->
    <div class="row masonry masonryFlyIn">
      <div class="col-md-4 col-sm-12 masonry-item mb30">
        <div class="feature boxed cast-shadow-light mb0">
          <h2 class=" color-primary mb0">80+</h2>
          <h6 class="uppercase color-primary">Page Templates</h6>
          <p>
            Pre-made HTML page templates including fully realized shop, blog and portfolio layouts.
          </p>
        </div>
      </div>
      <div class="col-md-4 masonry-item mb30">
        <div class="boxed feature cast-shadow-light mb0">
          <i class="icon ti-infinite color-primary inline-block mb0"></i>
          <h6 class="uppercase color-primary">Layout Possibilities</h6>
          <p>
            With tons of purpose-built content blocks, colors and fonts, Foundry presents a mind-boggling number of combinations. Test drive the builder now!
          </p>
        </div>
      </div>
      <div class="col-md-4 masonry-item mb30">
        <div class="boxed feature cast-shadow-light mb0">
          <h2 class=" color-primary mb8">Concepts</h2>
          <h6 class="uppercase color-primary">Kickstart your project</h6>
          <p>
            Fresh and unique concepts included out of the box. From portfolio to property showcase, Foundry's adaptable look is perfect for your next project.
          </p>
        </div>
      </div>
      <div class="col-md-4 masonry-item mb30">
        <div class="boxed feature cast-shadow-light mb0">
          <h2 class=" color-primary mb8">One / Multi</h2>
          <h6 class="uppercase color-primary">Suit Yourself</h6>
          <p>
            Capabilities for one and multi-page are built right in. Create a one page scrolling site with ease in Variant Page Builder.
          </p>
        </div>
      </div>
      <div class="col-md-4 masonry-item mb30">
        <div class="boxed feature cast-shadow-light mb0">
          <h2 class=" color-primary mb8">Support</h2>
          <h6 class="uppercase color-primary">Timely & Personable</h6>
          <p>
            Receive included support with your purchase via our dedicated support forum. We aim to assist you in plain English as quickly as possible.
          </p>
        </div>
      </div>
      <div class="col-md-4 masonry-item mb30">
        <div class="boxed feature cast-shadow-light mb0">
          <h2 class=" color-primary mb8">Page Builder</h2>
          <h6 class="uppercase color-primary">Intuitive & Powerful</h6>
          <p>
            We've worked hard to bring you a page builder that speeds up your workflow, leaving more time for your to experiment with layout combinations.
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
