<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="mb64 mb-xs-24">
          Our values are not our minimum code of conduct. <br />
          They are what we sacrifice the <strong>bottom line</strong> for.
        </h2>
      </div>
      <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
        <div class="tabbed-content icon-tabs">
          <ul class="tabs">
            <li class="active">
              <div class="tab-title">
                <i class="ti-user icon"></i>
                <span>consultant</span>
              </div>
              <div class="tab-content">
                <p class="lead">
                  We do the right thing for our clients by giving them the best
                  solutions and keeping the machines running with as little
                  downtime as is possible.
                </p>
              </div>
            </li>
            <li>
              <div class="tab-title">
                <i class="ti-settings icon"></i>
                <span>resource</span>
              </div>
              <div class="tab-content">
                <p class="lead">
                  Our role ensures your success and profitability.
                </p>
              </div>
            </li>
            <li>
              <div class="tab-title">
                <i class="ti-announcement icon"></i>
                <span>advocate</span>
              </div>
              <div class="tab-content">
                <p class="lead">
                  Our solutions will equip you to overcome the challenges of
                  food processing by increasing yield and cutting costs.
                </p>
              </div>
            </li>
            <li>
              <div class="tab-title">
                <i class="ti-blackboard icon"></i>
                <span>educator</span>
              </div>
              <div class="tab-content">
                <p class="lead">
                  Ultimately, we strive to broaden the resource revolution by developing strategic relationships that inform our customers about creative methods for increasing return on investment through the most advanced technology available.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <!--end of icon tabs-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
