<section id="clients" class="image-bg overlay parallax">
  <div class="background-image-holder">
    <%= image_tag 'clients', class: 'background-image' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center overflow-hidden">
        <h5 class="uppercase text-center fade-half mb64 mb-xs-32">Selected Clients</h5>
        <div class="col-sm-6">
          <ul>
            <li>
              <h6 class="uppercase mb8">Berryhill Foods</h6>
            </li>
            <li>
              <h6 class="uppercase mb8">Birds Eye Foods</h6>
            </li>
            <li>
              <h6 class="uppercase mb8">Del Monte Foods</h6>
            </li>
            <li>
              <h6 class="uppercase mb8">Enfield Farms</h6>
            </li>
            <li>
              <h6 class="uppercase mb8">Hanover Foods</h6>
            </li>
            <li>
              <h6 class="uppercase mb8">Hormel</h6>
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <li>
              <h6 class="uppercase mb8">Jasper Wyman & Sons</h6>
            </li>
            <li>
              <h6 class="uppercase mb8">Lakeside Foods</h6>
            </li>
            <li>
              <h6 class="uppercase mb8">Nestle</h6>
            </li>
            <li>
              <h6 class="uppercase mb8">Seneca Foods</h6>
            </li>
            <li>
              <h6 class="uppercase mb8">SEW Friel</h6>
            </li>
            <li>
              <h6 class="uppercase mb8">Sugar Creek Packing</h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
