<section class="cover image-bg fullscreen overlay overlay-heavy bg-dark vid-bg pt240 pb240 pt-xs-120 pb-xs-80">
  <div class="player" data-video-id="Lz88nsWL4kw" data-start-at="20" data-stop-at="120"></div>
  <div class="background-image-holder">
    <%= image_tag 'home.jpg', class: 'background-image' %>
  </div>
  <div class="masonry-loader">
    <div class="spinner">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <h3 class="mb56 mb-xs-24">
          <strong>Loring industries</strong> is a food manufacturers rep serving
          clients from around the globe by consulting on how to increase yields
          and cut costs
        </h3>
        <a class="btn btn-lg btn-white mb0 inner-link" href="#about">Get to know us better</a>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
