<section class="page-title page-title-2 image-bg overlay parallax" style="height:365px;">
  <div class="background-image-holder">
    <%= image_tag 'faq', class: 'background-image' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="uppercase mb8">FAQ</h2>
      </div>
      <div class="col-md-6 text-right">
        <ol class="breadcrumb breadcrumb-2">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">FAQ</li>
        </ol>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
