<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="mb16">Common questions about Loring</h4>
        <p class="lead mb64">
          Holla
          <a href="mailto:rose.timmer@loringindustries.com?Subject=Question%20about%20Loring%20Industries" target="_top">@rose</a> if you've got more questions and we'll do our best to answer.
        </p>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <ul class="accordion accordion-2">
          <li>
            <div class="title">
              <h4 class="inline-block mb0">What territory do you work in?</h4>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li>
            <div class="title">
              <h4 class="inline-block mb0">What vendors do you represent?</h4>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li>
            <div class="title">
              <h4 class="inline-block mb0">Are you open to working with new vendors?</h4>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
        </ul>
        <!--end of accordion-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
