<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="mb16">Common questions about Loring</h4>
        <p class="lead mb64">
          Holla
          <a href="mailto:james.timmer@loringindustries.com?Subject=Question%20about%20Loring%20Industries" target="_top">@james</a> if you've got more questions and we'll do our best to answer.
        </p>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <ul class="accordion accordion-2">
          <li>
            <div class="title">
              <h4 class="inline-block mb0">What territory do you work in?</h4>
            </div>
            <div class="content">
              <p>
                We cover the Midwest, Northeast, Western Washington and British
                Columbia.
              </p>
            </div>
          </li>
          <li>
            <div class="title">
              <h4 class="inline-block mb0">What vendors do you represent?</h4>
            </div>
            <div class="content">
              <p>
                We currently represent a variety of packaging process equipment
                suppliers. We focus on optical/mechanical sorting & material
                handling, operation & maintenance training, and product quality
                certification. Our goal is to assist customers in validating the
                right equipment, optimizing the process, and maximizing yield
                for the best return on investment.
              </p>
            </div>
          </li>
          <li>
            <div class="title">
              <h4 class="inline-block mb0">Are you open to working with new vendors?</h4>
            </div>
            <div class="content">
              <p>
                Yes, we are always looking to expand our portfolio.
              </p>
            </div>
          </li>
        </ul>
        <!--end of accordion-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
