<section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6 pt80 pt-xs-0">
                            <div class="feature bordered text-center bg-secondary">
                                <h3 class="uppercase mb40 mb-xs-24">ENTRÉE</h3>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Braised Duck Confit</h6>
                                    <p>
                                        Lightly seasoned with buttered sage and fig hearts.
                                    </p>
                                </div>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Roasted Artichoke</h6>
                                    <p>
                                        Served with a tangy horseradish cream on a bed of slaw.
                                    </p>
                                </div>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Salad of Northern Greens</h6>
                                    <p>
                                        A selection of freshly foraged greens from Northern Australia.
                                    </p>
                                </div>
                            </div>
                            <div class="feature bordered text-center">
                                <h3 class="uppercase mb40 mb-xs-24">Dessert</h3>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Berry Confit</h6>
                                    <p>
                                        Lightly seasoned berries with buttered sage and fig hearts.
                                    </p>
                                </div>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Roasted Pear Crumble</h6>
                                    <p>
                                        Served with a fluffy butterscotch cream on a bed of apple slaw.
                                    </p>
                                </div>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Salad of Northern Fruits</h6>
                                    <p>
                                        A selection of freshly foraged fruit from Northern Australia.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="feature bordered hidden-xs hidden-sm">
                                <h1 class="large uppercase mb64 mb-xs-24">menu</h1>
                                <p>
                                    <strong>Please note we offer vegetarian options and can cater
                                        <br /> for most dietary requirements.</strong>
                                </p>
                                <p>
                                    In addition, we are also able to offer dietary
                                    <br /> specific tasting menus upon request.
                                </p>
                            </div>
                            <div class="feature bordered text-center bg-primary">
                                <h3 class="uppercase mb40 mb-xs-24">Main</h3>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Braised Duck Confit</h6>
                                    <p>
                                        Lightly seasoned with buttered sage and fig hearts.
                                    </p>
                                </div>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Roasted Artichoke</h6>
                                    <p>
                                        Served with a tangy horseradish cream on a bed of slaw.
                                    </p>
                                </div>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Salad of Northern Greens</h6>
                                    <p>
                                        A selection of freshly foraged greens from Northern Australia.
                                    </p>
                                </div>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Fried Spring Rolls</h6>
                                    <p>
                                        Lightly fried in Sesami Oil, filled with fresh chicken or beef.
                                    </p>
                                </div>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Caramel Pork Belly</h6>
                                    <p>
                                        Slow roasted Pork Belly served with apple slaw.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
