<section id="shows">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-6 pt80 pt-xs-0">
        <div class="feature bordered text-center bg-secondary">
          <h3 class="uppercase mb40 mb-xs-24">East</h3>

          <h6 class="mb8 uppercase">
            <a href="http://nysvga.org/expo/information/" target="_blank" class="btn btn-sm btn-rounded btn-filled">
              Empire State Producers Expo
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="http://ippexpo.com/" target="_blank" class="btn btn-sm btn-rounded btn-filled">
              IPPE/AMI
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="http://www.njveggies.org/convention.htm" target="_blank" class="btn btn-sm btn-rounded btn-filled">
              NJ Agricultural Convention
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="https://www.pma.com/events/freshsummit" target="_blank" class="btn btn-sm btn-rounded btn-filled">
              PMA Fresh Summit
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="http://www.snaxpo.com/" target="_blank" class="btn btn-sm btn-rounded btn-filled">
              SNAXPO
            </a>
          </h6>
        </div>
        <div class="feature bordered text-center">
          <h3 class="uppercase mb40 mb-xs-24">West</h3>

          <h6 class="mb8 uppercase">
            <a href="http://afficon.affi.org/" target="_blank" class="btn btn-sm btn-rounded btn-filled">
              AFFI Frozen Food Convention
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="http://www.foodandbeverageworld.org/" target="_blank" class="btn btn-sm btn-rounded btn-filled">
              Northwest Food & Beverage World
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="http://www.agricultureshow.net/" target="_blank" class="btn btn-sm btn-rounded btn-filled">
              Pacific Agriculture Show
            </a>
          </h6>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="feature bordered hidden-xs hidden-sm">
          <h1 class="large uppercase mb64 mb-xs-24">Shows</h1>
          <p>
            <strong>Please note that this varies from year to year, but these
              <br /> are the shows we plan to attend.
            </strong>
          </p>
          <p>
            In addition, we are happy to come visit your plant
            <br /> to help make recommendations on your process.
          </p>
        </div>
        <div class="feature bordered text-center bg-primary">
          <h3 class="uppercase mb40 mb-xs-24">Midwest</h3>

          <h6 class="mb8 uppercase">
            <a href="http://glexpo.com/" target="_blank" class="btn btn-sm btn-rounded">Great Lakes Expo</a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="http://www.michfpa.org/calendar" target="_blank" class="btn btn-sm btn-rounded">
              MFPA Annual Meeting
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="http://www.mwfpa.org/upcoming_events" target="_blank" class="btn btn-sm btn-rounded">
              MWFPA Annual Annual Convention
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="http://www.blueberry.org/meetings/" target="_blank" class="btn btn-sm btn-rounded">
              NABC/USHBC
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="https://packexpo.com/" target="_blank" class="btn btn-sm btn-rounded">PACK EXPO</a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="https://www.ilovepickles.org/events/" target="_blank" class="btn btn-sm btn-rounded">
              Pickle Packer Annual Meeting
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="http://www.myprocessexpo.com/" target="_blank" class="btn btn-sm btn-rounded">
              Process EXPO
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="https://www.profoodtech.com/" target="_blank" class="btn btn-sm btn-rounded">
              Pro Food Tech
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="http://www.unitedfreshshow.org/welcome" target="_blank" class="btn btn-sm btn-rounded">
              United Fresh Convention
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="http://wisconsinpotatoes.com/events/" target="_blank" class="btn btn-sm btn-rounded">
              WPVGA Grower Industry Show
            </a>
          </h6>

          <h6 class="mb8 uppercase">
            <a href="http://www.wiscran.org/experience/cranberry-industry-events-calendar/" target="_blank" class="btn btn-sm btn-rounded">
              WSCGA Summer Meeting
            </a>
          </h6>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
