<section id="testimonials" class="image-bg overlay parallax">
  <div class="background-image-holder">
    <%= image_tag 'testimonials', class: 'background-image' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="text-slider slider-paging-controls controls-outside relative">
        <ul class="slides">
          <li>
            <div class="col-md-8 col-md-offset-2">
              <div class="feature bordered text-center">
                <h3>"Instead of treading the mock meat path, he's making each dish a celebration of vegetables in their prime, rather than trying to retro-engineer steak and lasagne"</h3>
                <h6 class="uppercase">Luke King - Food Magazine</h6>
              </div>
            </div>
          </li>
          <li>
            <div class="col-md-8 col-md-offset-2">
              <div class="feature bordered text-center">
                <h3>"One of the most exciting eateries to open in St Kilda. in years - These guys have years of experience and it shows, from the decor to the presentation - perfect!"</h3>
                <h6 class="uppercase">Jake Higgins - The Age</h6>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
